In [1]:
print("Zakariya Ahmed.")

Zakariya Ahmed.

In [2]:
print("Hi \nThis is Tamim.")

Hi
This is Tamim.

In [3]:
print('*' * 10)

**********

In [4]:
price = 25
rating = 4.9
name = 'ABCD'
is_published = True
print(rating)
print(f"{name}  ${price} {rating}")

4.9
ABCD  $25 4.9

In [5]:
m = 2.5
j = 5
print(m+j)

7.5

In [6]:
full_name = 'John Smith'
age = 20
status = 'new'
is_new = True
print(full_name, age, status)

John Smith 20 new

In [7]:
name = input('What is your name?')
colour = input('What is your favourite colour?')
print('Hi ' + name)
print(name + ' likes ' + colour)

What is your name?Ahmed
What is your favourite colour?Black
Hi Ahmed
Ahmed likes Black

In [8]:
name = input("Enter your name: ")
age = input("Enter your age: ")
print("Hello " + name + "! you are " + age)

Enter your name: Tamim
Enter your age: 23
Hello Tamim! you are 23

In [14]:
mail = '''
Hi Tamim,

Here is our first email to you.

Thank you,
The support team
'''         # Triple quotes for multiline string input
print(mail)

Hi Tamim,

Here is our first email to you.

Thank you,
The support team

In [10]:
first_name = 'Zakariya'
middel_name = 'Ahmed'
last_name = 'Tamim'
print("This is", first_name, middel_name, last_name, ".")
print(first_name, "Ahmed", last_name)

This is Zakariya Ahmed Tamim .
Zakariya Ahmed Tamim

In [11]:
birth_year = input('Birth year: ')
age = 2024 - int(birth_year)
print(type(age))
print(type(birth_year))
print(age)

Birth year: 2002
<class 'int'>
<class 'str'>
22

In [12]:
weight_lbs = input('Weight (lbs): ')
weight_kg = .4535 * int(weight_lbs)
print(str(weight_kg) + ' kilograms')
print(f"{weight_kg} kilograms")

Weight (lbs): 170
77.095 kilograms
77.095 kilograms

In [13]:
courses = "Python's for beginners."
course = 'Python course for "Beginners"'
print(courses, course)

Python's for beginners Python course for "Beginners"

## STRINGS

In [17]:
course = 'Python for Beginners'
print(course[0])
print(course[1:5])
print(course[-4])
print(course[:6])
print(course[6:])
print(course[:])
print(course[1:-1])

P
ytho
n
Python
 for Beginners
Python for Beginners
ython for Beginner

In [18]:
#freeCodeCamp.org (Intermediate Python Programming Course)
#Strings: ordered, immutable, text representarion
my_string = "I'm a programmer"   # my_string = 'I\'m a programmer'
print(my_string)
multiLineString = """Hi!
This is Tamim.
"""
print(multiLineString)

I'm a programmer
Hi!
This is Tamim.

In [19]:
s = "Hello World"
s1 = s[::2]
print(s1)
s2 = s[::-1]
print(s2)

HloWrd
dlroW olleH

In [20]:
s = "     Hello"
print(s)
gretting = s.strip()
print(gretting)
name = "Tom"
sentence = gretting + " " + name + "!"
print(sentence)

     Hello
Hello
Hello Tom!

In [21]:
for x in gretting:
    print(x)
if 'ello' in gretting:
    print('Yes')
else:
    print('No')

H
e
l
l
o
Yes

In [22]:
print(sentence.upper())
print(sentence.lower())
print(sentence.startswith('Hello'))
print(sentence.endswith('World'))
print(sentence.find('o'))
print(sentence.find('ello'))
print(sentence.find('p'))
print(sentence.count('o'))
print(sentence.count('p'))
print(sentence.replace('Tom', 'World'))

HELLO TOM!
hello tom!
True
False
4
1
-1
2
0
Hello World!

In [23]:
string = 'How are you doing ?'
list = string.split()
print(list)
s = 'How,are,you,doing'
l =s.split(",")
print(l)
new_string = ''.join(string)
print(new_string)
new_list = ' '.join(list)
print(new_list)
n_s = ''.join(s)
print(n_s)

['How', 'are', 'you', 'doing', '?']
['How', 'are', 'you', 'doing']
How are you doing ?
How are you doing ?
How,are,you,doing

In [24]:
my_list = ['a']*6
print(my_list)
my_string = ''.join(my_list)
print(my_string)

['a', 'a', 'a', 'a', 'a', 'a']
aaaaaa

In [25]:
from timeit import default_timer as timer
my_list = ['a'] *1000000
#bad
start = timer()
my_string = ''
for i in my_list:
    my_string += i
stop = timer()
print(stop - start)
#good
start = timer()
my_string = ''.join(my_list)
stop = timer()
print(stop - start)

44.62126160000025
0.018971200000123645

In [26]:
# %, .foma(), f-Strings  # %s for integer, %d for integer,%f for floting point
var = "Tom"
x = 5
pi =3.14159
my_string = "the variable is %s" %var 
print(my_string)
my_integer = "the variable is %d" %x
print(my_integer)
my_fp = "the variable is %.2f" %pi  #my_fp = "the variable is {}".format(pi)
print(my_fp)
w = 5.62
my_fp_nums = "the variable is {:.2f} and {}".format(pi,w)
print(my_fp_nums)
my_fp_numbs = f"the variable is {pi} and {w*2.5}"
print(my_fp_numbs)

the variable is Tom
the variable is 5
the variable is 3.14
the variable is 3.14 and 5.62
the variable is 3.14159 and 14.05

## FORMATTED STRINGS

In [27]:
first = 'John'
last = 'Smith'
message = first + ' [' + last + '] is a coder'
msg = f'{first} [{last}] is a coder'
print(first, '[', last, '] is a coder')
print(message)
print(msg)

John [ Smith ] is a coder
John [Smith] is a coder
John [Smith] is a coder

### STRING METHODS

In [29]:
course = 'Python for Beginners.'
print(len(course))
print(course.upper())
print(course)
print(course.lower())
print(course.find('f'))
print(course.find('s'))
print(course.find('w'))
print(course.find('x'))
print(course.replace('Beginners', 'Absolute Beginners'))
print(course.replace('P', 'J'))
print('Python' in course)
print('python' in course)
print('For' in course)
print('for' in course)

21
PYTHON FOR BEGINNERS.
Python for Beginners.
python for beginners.
7
19
-1
-1
Python for Absolute Beginners.
Jython for Beginners.
True
False
False
True

### ARITHMERIC OPERATION

In [30]:
print(10 + 3)
print(10 - 3)
print(10 * 3)
print(10 / 3)
print(10 // 3)
print(10 % 3)
print(10 ** 3)
print(2 ** 5)

13
7
30
3.3333333333333335
3
1
1000
32

In [31]:
x = 10
x = x + 3
print(x)
x += 2
print(x)
y = 10
y -= 3
print(y)

13
15
7

In [ ]:
num1 = input("Enter a number: ")
num2 = input("Enter another number: ")
summ = num1 + num2
print(summ)
result = float(num1) + float(num2)
print(result)

### OPERATION PRECEDENCE

In [33]:
x = 10 + 3 * 2
print(x)  #Operation Order 0.Bracket 1.exponentiation(**) 2.multiplication/division 3.addition/subtraction
y = 10 + 3 * 2 ** 3
print(y)
y = (10 + 3) * 2 ** 3
print(y)

16
34
104

In [37]:
x = 2.9
print(round(x))
print(abs(-x))

3
2.9

### MATH FUNCTION

In [34]:
import math
print(math.ceil(2.9))
print(math.floor(2.9))

3
2

In [36]:
import math
x = 5
y = 2
z = 6
i = 'j'
print(math.comb(x, y))    #comb( n, k)= n! /(k! * (n-k)!) 
                          #  {Return the number of ways to choose k items from n items without repetition and without order.}
print(math.factorial(z))
print(math.isfinite(x))
print(math.isinf(y))    #Return True if x is a positive or negative infinity, and False otherwise.
print(math.isnan(z))    #Return True if x is a NaN (not a number), and False otherwise.

10
720
True
False
False

In [35]:
import math
print(math.isqrt(49))
print(math.lcm(8, 12, 16))
print(math.modf(9.5))

7
48
(0.5, 9.0)

### Constants

In [38]:
import math
print(math.pi)
print(math.e)
print(math.tau)
print(-math.inf)

3.141592653589793
2.718281828459045
6.283185307179586
-inf

In [1]:
#Trigonometric functions
import math
print("math.sin(30) =", math.sin(.523599))    #python takes input as radian & gives output as radian ****
print("math.sin(60) =", math.sin(1.0472))
print("math.tan(45) =", math.tan(.7853987))
print("math.cos(90) =", math.cos(1.5708))
print("math.sin(90) =", math.sin(1.5708))

math.sin(30) = 0.5000001943375613
math.sin(60) = 0.8660266281835431
math.tan(45) = 1.0000010732056792
math.cos(90) = -3.673205103346574e-06
math.sin(90) = 0.9999999999932537

In [2]:
x = math.radians(60)                     #math.radians(x) Convert angle x from degrees to radians
y = math.degrees(1.0472)                 #Convert angle x from radians to degrees
print("math.cos(x) =", math.cos(x))     #python takes input as radian ****
print("math.sin(x) =", math.sin(x))
print("math.tan(x) = ", math.tan(x))
print("math.cos(y) =", math.cos(y))      #python takes input as radian & gives output as radian ****
print("math.cos(60) =", math.cos(60))    #python takes input & output as radian ****
print("math.acos(.5) =", math.acos(.5))    #acos = Arc Cos/ Inverse cos

math.cos(x) = 0.5000000000000001
math.sin(x) = 0.8660254037844386
math.tan(x) =  1.7320508075688767
math.cos(y) = -0.9523702042513652
math.cos(60) = -0.9524129804151563
math.acos(.5) = 1.0471975511965979

In [ ]:
#CONDITIONS
is_hot = False
is_cold = False
if is_hot:
    print("It is a hot day!!")
    print("Drink plenty water.")
elif is_cold:
    print("It's a cold day.")
    print("Wear warm clothes.")
else:
    print("It's a lovely day.")
print("Enjoy your day.")

In [3]:
price = 1000000
has_good_credit = False
if has_good_credit:
    down_payment = 0.1 * price
else:
    down_payment = 0.2 * price
print(f"Need to put down: ${down_payment} ")

Need to put down: $200000.0

In [4]:
has_high_income = True
has_good_credit = True
if has_high_income and has_good_credit:
    print("Eligible for loan.")
else:
    print("Not eligible for loan.")

Eligible for loan.

In [5]:
has_high_income = True
has_good_credit = False
if has_high_income or has_good_credit:
    print("Eligible for loan.")
else:
    print("Not eligible for loan.")

Eligible for loan.

In [6]:
has_good_credit = True
has_criminal_record = True
if has_good_credit and not has_criminal_record:
    print("Eligible for loan.")
else:
    print("Not eligible for loan.")

Not eligible for loan.

In [7]:
temperature = int(input("temperature: "))
if temperature >= 30:
    print("It's a hot day.")
elif temperature <= 15:
    print("It's a cold day.")
else:
    print("It's neither hot nor cold.")
print("Have a good day.Enjoy your day.")

temperature: 32
It's a hot day.
Have a good day.Enjoy your day.

In [8]:
name = "Zakariya Ahmed"
size = len(name)
if size < 4:
    print("Name must be at least 4 characters.")
elif size > 20:
    print("Name must be a maximum of 20 characters.")
else:
    print("Name looks good.")

Name looks good.

In [9]:
weight = int(input("Weight: "))
unit = input("(L)bs or (K)g: ")
if unit.upper() == "K":
    converted = 2.2 * weight
    print(f"You are {converted} pounds.")
else:
    converted = .45 * weight
    print(f"You are {converted} kilos.")

Weight: 65
(L)bs or (K)g: k
You are 143.0 pounds.

In [11]:
num1 = float(input("Enter first number: "))
op = input("Enter operator: ")
num2 = float(input("Enter second number: "))

if op == "+":
    print(num1 + num2)
elif op == "-":
    print(num1 - num2)
elif op == "/":
    print(num1 / num2)
elif op == "*":
    print(num1 * num2)
else:
    print("Invalid operator!!")

Enter first number: 45
Enter operator: /
Enter second number: 9
5.0